<template name="home">
  <!-- <div class="panel panel-info">
    <div class="panel-body" style="height:860px;">
      <h2 class="text-center">Welcome Visitors</h2>
      <br>
      <br>
      <br>
      <h3>Steps</h3>
      <ol>
        <li>Create an account.</li>
        <li>Select a user.</li>
        <li>Start chatting.</li>
      </ol>
      <br>
      <h3>Emoticons</h3>
      {{#each emotes}}
        <div class="text-center" style="display:inline-table; width:65px; margin-bottom:5px;">
          {{{pic}}}<br>{{command}}
        </div>
      {{/each}}
    </div>
  </div> -->
  <div class="messbox">
    <h2 class="text-center">Welcome Visitors</h2>
    <br>
    <br>
    <br>
    <h3>Steps</h3>
    <ol>
      <li>Create an account.</li>
      <li>Select a user.</li>
      <li>Start chatting.</li>
    </ol>
    <br>
    <h3>Emoticons</h3>
    {{#each emotes}}
      <div class="text-center" style="display:inline-table; width:65px; margin-bottom:5px;">
        {{{pic}}}<br>{{command}}
      </div>
    {{/each}}
  </div>
  <div class="myfooter" style="height:60px;padding:10px;background:#485563;">
    <footer style="height:60px:margin:10px;">

    </footer>
  </div>
</template>
